/* css styles */

 /* Hastur */
@font-face {
  font-family: 'Hastur';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/HasturFont_lt.otf') format('opentype');
}
/* Hastur Bold */
@font-face {
  font-family: 'Hastur';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/HasturFont_bd.otf') format('opentype');
 }


	
	h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	  font-family: Hastur, Arial, Helvetica, sans-serif;
	  color: #e1a051;
	}
	.navbar-dark {
    background-color: #725430;
  }
  
  #quarto-sidebar {
    background-color: #1b1b1b;
  }
  body{
    color: #999;
  }
  .floatright{
    float: right;
    padding-left: 10px;
  }
  .floatleft{
    float: left;
    padding-right: 10px;
  }